aclocal.m4
config.h
config.h.in
config.log
config.status
configure
COPYING
depcomp
INSTALL
install-sh
Makefile
Makefile.in
missing
stamp-h1
android/jni/SDL2
android/jni/SDL2_mixer
android/jni/SDL2_ttf
**/*.deps*
autom4te.cache
*.so
*.o*
*.swp
*.project
.codelite
*.iws
*.workspace
